.contenedorDetalles {
    background-color: white;
    text-align: center;
    align-items: center;
    height: auto;

    .contenedorLibro {
        text-align: center;
        margin: 2rem;
        border-radius: 2rem;
        border: 2px outset rgb(240, 88, 113);
        height: 40rem;
        background-color: rgb(253, 212, 212);

    }

    .volverAtras {
        text-decoration: none;
        font-weight: 900;
        color: green;


    }

    .generoLibro {
        font-weight: bold;
        font-size: 1.5rem;
    }

    .imageP {
        max-width: 250p;
        max-height: 250px;
        padding: 1rem;
        border: 1px solid rgb(22, 19, 19);
        margin: 1rem;
    }

    .cantidad {
        margin: 1rem;

        label {
            margin-right: 1rem;
        }

        input {
            width: 3rem;
        }
    }

    .title {
        height: 60px;

        .titleP {
            font-weight: bold;
        }
    }

    .priceP {
        color: green;
        font-size: 1.3rem;
        font-weight: bold;
    }

    .stockP {
        font-size: 1.3rem;
        font-weight: 600;
    }




}