 .btnQuitar {
     border-radius: 2rem;
     padding: .5rem;
     color: white;
     background-color: rgb(240, 106, 117);
     font-weight: bold;
     border: 2px outset rgb(113, 146, 35);
 }

 .btnAgregar {
     border-radius: 2rem;
     padding: .5rem;
     color: white;
     background-color: rgb(69, 201, 69);
     font-weight: bold;
     border: 2px outset rgb(113, 146, 35);
     text-decoration: none;
     margin-bottom: 2rem;

 }

 .btnAgregar:hover {
     background-color: rgb(185, 236, 143);
     color: rgb(43, 138, 43);
     transition: 1s;
     border: 2px outset white;
 }

 .btn {
     margin: 1rem;
 }