.contenedorProduct {
    border: 1px outset gray;
    border-radius: 2rem;
    padding: 1rem;
    width: 300px;
    text-align: center;



    .imageP {
        max-width: 250p;
        max-height: 250px;
        padding: 1rem;
    }

    .title {
        height: 120px;

        .titleP {
            font-weight: bold;
        }
    }

    .priceP {
        color: green;
        font-size: 1rem;
        font-weight: bold;
    }

    .stockP {
        font-size: 1.3rem;
    }

    .btnAgregar {
        border-radius: 2rem;
        padding: .5rem;
        color: white;
        background-color: rgb(69, 201, 69);
        font-weight: bold;
        border: 2px outset rgb(113, 146, 35);
    }

    .btnAgregar:hover {
        background-color: rgb(185, 236, 143);
        color: rgb(43, 138, 43);
        transition: 1s;
        border: 2px outset white;
    }

    .botones {
        display: flex;
        flex-direction: column;
        column-gap: 1rem;

        .verMas {
            margin-top: 1rem;
            border: 1px solid rgb(236, 43, 43);
            padding: .2rem .5rem;
            border-radius: 2rem;
            font-size: 1.2rem;
            color: rgb(90, 3, 3);
            background-color: rgb(245, 176, 176);
            font-weight: 600;
        }
    }

}